<h2>Engine form</h2>

<%= simple_form_for @engine, :html => { :multipart => true } do |f| %>
  <%= f.input :name %></br></br>
  <%= f.input :size %></br></br>
  <%= f.input :litre %></br></br>
  <%= f.input :cylinder %></br></br>
  <%= f.input :valve %></br></br>
  <%= f.input :hp %></br></br>
  <%= f.input :kw %></br></br>
  <%= f.input :torque %></br></br>
  <%= f.input :type %></br></br>
  <%= f.input :mark %></br></br>
  <%= f.input :description, as: :text %></br></br>
  <%= f.input :fuel_system %></br></br>
  <%= f.input :meta_title %></br></br>
  <%= f.input :meta_description %></br></br>
  <%= f.input :permalink %></br></br>


  <%= f.input :production_start, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, discard_day: true, order: [:month, :year] %></br></br>

  <%= f.input :production_end, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, discard_day: true, order: [:month, :year] %></br></br>

  <%= select_tag(:manufacturer_id, options_for_select(@manufacturers), :prompt => "Select Manufacturer") %></br></br>

   <%= f.input :no_index, as: :boolean, checked_value: true, unchecked_value: false %></br></br>

  <%= f.button :submit %>


<% end %>
