<h2>Speed Form</h2>

<%= simple_form_for @speed, :html => { :multipart => true } do |f| %></br></br>

  <%= f.input :sixty %></br></br>

  <%= f.input :hundered %></br></br>

  <%= f.input :top %></br></br>

  <%= f.button :submit %></br></br>

<% end %>

<%= link_to "Back", root_path %>

