<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to "Show Manufacturer", manufacturers_path %></br></br>

<%= link_to "Show Car", cars_path %></br></br>

<%= link_to "Show Bike", bikes_path %></br></br>

<%= link_to "Show Modell", modells_path %></br></br>

<%= link_to "Show Engines", engines_path %></br></br>

<%= link_to "Show speeds", speeds_path %></br></br>

<%= link_to "Show Body Types", bodies_path %></br></br>

<%= link_to "Show Fuel Types", fuels_path %></br></br>

<%= link_to "Show Fuel Efficiencies", fuel_efficiencies_path %></br></br>

<%= link_to "Show Prices", prices_path %></br></br></br></br>

<%= link_to "Create Manufacturer", new_manufacturer_path %></br></br>

<%= link_to "Create Car", new_car_path %></br></br>

<%= link_to "Create Bike", new_bike_path %></br></br>

<%= link_to "Create Body Type", new_body_path %></br></br>

<%= link_to "Create Modell", new_modell_path %></br></br>

<%= link_to "Create Engine", new_engine_path %></br></br>

<%= link_to "Create Speeds", new_speed_path %></br></br>

<%= link_to "Create Fuel", new_fuel_path %></br></br>

<%= link_to "Create Fuel_efficiency", new_fuel_efficiency_path %></br></br>

<%= link_to "Create Price", new_price_path %></br></br>


