<h2>Fuel Edit</h2>

<%= simple_form_for @fuel, :html => { :multipart => true } do |f| %></br></br>

  <%= f.input :name %></br></br>

  <%= f.input :description, as: :text %></br></br>

  <%= f.select :manufacturer_id, @manufacturers %></br></br>

  <%= f.button :submit %></br></br>

<% end %>

<%= link_to "Back", fuels_path %>
