<h1>Form Manufacturer Page</h1>

<%= simple_form_for @manufacturer, :html => { :multipart => true } do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.input :date, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, discard_day: true, order: [:month, :year] %>
  <%= f.button :submit %>

  <%= f.input :no_index, as: :boolean, checked_value: true, unchecked_value: false %>
<% end %>
